/*省级*/
.ProvinceAuditorContainer{
    border-radius:5px;
}
.waitAuditorRow{
    background:#fff;
    padding:20px 0;
}
.waitAuditorTableTop>i{
    color:orange;
}
/*市级*/
.waitAuditorRow{
    border-radius:5px;
    margin-top:20px;
}
