/*btn*/
.btnGroup{padding:15px 0}
.btn{outline:none;text-decoration:none;border:none;border-radius:3px;margin-right:5px;font-size:0.8em;cursor:pointer;opacity:0.8;letter-spacing:2px}
.btn:hover{opacity:1}
.btn-promise{background:#3B86FF;color:#fff}
.btn-warning{background:palevioletred;color:#fff}
.btn-success{background:#28C38B;color:#fff}
.btn-orange{background:orange;color:#fff;}
.btn-default{background:#ccc;color:#666}
.btn-empty{background:#fff;color:#3B86FF;border:1px solid #3B86FF;}
.btnRadius{border-radius:10px}
.btnRed{color:#ff0830 !important;border:1px solid #ff0830 !important;}
.btnGreen{color:#5fb878 !important;border:1px solid #5fb878 !important;}
.btn-xs{padding:2px 4px}
.btn-sm{padding:4px 8px}
.btn-md{padding:6px 16px}
.btn-lg{padding:15px 40px}
/*绿色圆角小按钮*/
.btnSmallGreen{padding:1px 15px;color:#28C38B;border:1px solid #28C38B;background:#fff;border-radius:10px}
/*红色圆角小按钮*/
.btnSmallRed{padding:1px 15px;color:#ff0830;border:1px solid #ff0830;background:#fff;border-radius:10px}
/*蓝色圆角小按钮*/
.btnSmallBlue{padding:1px 15px;color:#3B86FF;border:1px solid #3B86FF;background:#fff;border-radius:10px}
/*蓝色边框长按钮*/
.btnLongBlue{padding:8px 80px;color:#3B86FF;border:1px solid #3B86FF;background:#f4f8ff;border-radius:3px}