.echartRow{overflow:hidden;margin-top:20px}
.echartRow .col-9 .dataCountBar{height:440px;padding-top:20px;background:#fff}
.echartRow .col-3 .dataCount-feedback{height:440px;width:calc(100% - 20px);margin-left:20px;background:#fff}
.echartRow .col-3 .dataCount-feedback .module-title{padding:20px 0;text-indent:30px}
.echartRow .col-3 .dataCount-feedback .grey{text-indent:30px}
.echartRow .feedbackLvl{text-align:center}
.echartRow .feedbackLvl>span{padding:0 8%}
.echartRow .feedbackLvl>span>b{color:#2B344C;font-size:0.8em}