.loginContainer{
    height:100%;
}
/*登录loading*/
.loginLoading{
    position:absolute;
    z-index:5;
    top:0;
    width:100%;
    height:100%;
    background:#fff url("../img/loading.gif") no-repeat center center;
}
/*登录头部*/
.loginHead{
    height:200px;
}
.rowOne{
    padding-top:60px;
}
.rowOne p{
    overflow:hidden;
    height:60px;
    line-height:60px;
    padding:0 96px 0 48px;
}
.rowOne p>span:first-child{
    float:left;
    font-size:1.5em;
    color:#2B344C;
}
.rowOne p>span:last-child{
    float:right;
    color:#C8CED3;
}
.rowTwo{
    width:100%;
    height:75px;
    background:url("../img/line1.png") no-repeat;
    background-size:100% 100%;
}
.rowTwo>.lineImgActive{
    background:#fff;
    overflow:hidden;
    height:inherit;
    transition: width 6s linear;
    -moz-transition: width 6s linear; /* Firefox 4 */
    -webkit-transition: width 6s linear; /* Safari 和 Chrome */
    -o-transition: width 6s linear; /* Opera */
}
.rowTwo>.lineImgActive>img{
    height:inherit;
}
/*登录内容区*/
.loginContent{
    overflow:hidden;
    height:calc(100% - 200px);
    min-height:360px;
}
.loginContent>.loginForm{
    float:left;
    padding-left:140px;
    width:500px;
}
.loginContent>.loginSysDes{
    float:right;
    width:calc(100% - 500px);
}
.loginContent>.loginForm>.loginTitle,
.loginContent>.loginForm>input,
.loginContent>.loginForm>button{
    display:block;
    margin-top:37px;
}
.loginContent>.loginForm>.loginTitle{
    font-size:2.4em;
    color:#2B344C;
}
.loginContent>.loginForm>input{
    width:360px;
    height:50px;
    line-height:50px;
}
.loginContent>.loginForm>input:hover{
    border:1px solid #3B86FF;
    box-shadow:0 0 5px #a5c7ff;
}
.loginForm>p{
    line-height:80px;
}
.loginForm>p>span{
    padding-right:10px;
}
.loginForm>p>b{
    font-size:1.2em;
}
.loginSysDes>.systemName{
    width:calc(100% - 555px);
    height:230px;
    line-height:230px;
    font-size:2.4em;
    margin-left:calc((100% - 555px)/3);
}
.loginSysDes>ul{
    width:100%;
    height:150px;
    overflow:hidden;
}
.loginSysDes>ul>li{
    float:left;
}
.loginSysDes>ul>li.staticBg{
    width:calc(100% - 395px);
    height:150px;
    line-height:150px;
}
.loginSysDes>ul>li.staticBg>a{
    display:inline-block;
    width:80px;
    height:80px;
    margin-top:35px;
    margin-left:calc((100% - 160px)/3);
}
.loginSysDes>ul>li.staticBg>a:first-child{
    background:url('../img/waterDrivce.png') no-repeat;
    background-size:80px 80px;
}
.loginSysDes>ul>li.staticBg>a:last-child{
    background:url('../img/loading.gif') no-repeat;
    background-size:80px 80px;
}
.loginSysDes>ul>li.dynamic{
    width:395px;
    height:54px;
    margin-top:40px;
    background:url("../img/line2.png") no-repeat;
    background-size:100% 100%;
}
.loginSysDes>ul>li.dynamic>.dynamicImgActive{
    background:#fff;
    overflow:hidden;
    height:inherit;
    transition: width 2s linear;
    -moz-transition: width 2s linear; /* Firefox 4 */
    -webkit-transition: width 2s linear; /* Safari 和 Chrome */
    -o-transition: width 2s linear; /* Opera */
}