.loginContainer{
    height:100%;
}
/*登录头部*/
.loginHead{
    height:200px;
}
.rowOne{
    padding-top:60px;
}
.rowOne p{
    overflow:hidden;
    height:60px;
    line-height:60px;
    padding:0 96px;
}
.rowOne p>span:first-child{
    float:left;
    font-size:2em;
    color:#2B344C;
}
.rowOne p>span:last-child{
    float:right;
    color:#C8CED3;
}
.rowTwo{
    width:100%;
    height:75px;
    background:url("./../img/line1.png") no-repeat;
    background-size:100% 100%;
}
.rowTwo>.lineImgActive{
    background:#fff;
    overflow:hidden;
    height:inherit;
    transition: width 8s linear;
    -moz-transition: width 8s linear; /* Firefox 4 */
    -webkit-transition: width 8s linear; /* Safari 和 Chrome */
    -o-transition: width 8s linear; /* Opera */
}
.rowTwo>.lineImgActive>img{
    height:inherit;
}
/*登录内容区*/
.loginContent{
    overflow:hidden;
    height:calc(100% - 320px);
    min-height:360px;
}
.loginContent>div{
    float:left;
}
.loginContent>.loginForm{
    padding-left:140px;
    width:500px;
}
@media (max-width: 1366px){
    .loginContent>.loginSysDes{
        width:866px;
    }
}
@media (min-width: 1440px) {
    .loginContent>.loginSysDes{
        margin-left:38px;
        width:866px;
    }
}
@media (min-width: 1600px) {
    .loginContent>.loginSysDes{
        margin-left:100px;
        width:866px;
    }
}
@media (min-width: 1900px) and (max-width: 1920px) {
    .loginContent>.loginSysDes{
        margin-left:260px;
        width:866px;
    }
}

.loginContent>.loginForm>.loginTitle,.loginContent>.loginForm>input,.loginContent>.loginForm>button{
    display:block;
    margin-top:20px;
}
.loginContent>.loginForm>.loginTitle{
    font-size:2.4em;
    color:#2B344C;
}
.loginContent>.loginForm>input{
    width:360px;
    height:50px;
    line-height:50px;
}
.loginForm>p{
    line-height:60px;
}
.loginForm>p>span{
    padding-right:10px;
}
.loginForm>p>b{
    font-size:1.2em;
}
.loginSysDes>.systemName{
    height:174px;
    line-height:174px;
    font-size:2.4em;
    text-indent:20px;
}
.loginSysDes>ul{
    width:100%;
    height:150px;
    overflow:hidden;
}
.loginSysDes>ul>li{
    float:left;
}
.loginSysDes>ul>li.staticBg{
    width:150px;
    height:150px;
}
.loginSysDes>ul>li.staticSs{
    background:url("./../img/ss.png") no-repeat center center;
}
.loginSysDes>ul>li.staticGif{
    background:url("./../img/loading.gif") no-repeat center center;
}
.loginSysDes>ul>li.dynamic{
    width:566px;
    height:42px;
    margin-top:54px;
    background:url("./../img/line2.png") no-repeat;
    background-size:100% 100%;
}
.loginSysDes>ul>li.dynamic>.dynamicImgActive{
    background:#fff;
    overflow:hidden;
    height:inherit;
    transition: width 8s linear;
    -moz-transition: width 8s linear; /* Firefox 4 */
    -webkit-transition: width 8s linear; /* Safari 和 Chrome */
    -o-transition: width 8s linear; /* Opera */
}
/*loginFooter*/
.loginFooter{
    height:120px;
    line-height:120px;
    text-indent:96px;
    font-size:1.2em;
}