.bodyRow{
    height:calc(100% - 92px);/*减去头部高度*/
    overflow:hidden;
}
.bodyRow>.nav,.bodyRow>.content{
    height:100%;
    overflow:auto;
    float:left;
}
.bodyRow>.nav{
    width:95px;/*导航栏宽度*/
}
.bodyRow>.content{
    width:calc(100% - 95px);/*减去导航栏宽度*/
}
.nav>li:first-child{
    margin-top:50px;
}
.nav>li.active{
    border-right:2px solid #3B86FF;
}
.nav>li{
    margin-bottom:20px;
    text-align:center;
}
.nav>li>span{
    display:block;
}
.nav>li>span:first-child{
    height:40px;
}
.nav>li>span:last-child{
    height:20px;
    line-height:20px;
}