/*自评汇总CSS*/
div.collectRow>ul{width:96%;margin:0 auto;padding-bottom:20px;}
div.collectRow>ul>li{overflow:hidden}
div.collectRow>ul>li>span{display:inline-block;float:left}
div.collectRow>ul>li:last-child>span{font-weight:600;font-size:1.4em}
/*省级*/
/*绩效自评*/
.perfNavRow ul{overflow:hidden}
.perfNavRow ul li{width:100px;float:left}
.perfNavRow ul li a,.perfNavRow ul li span{display:block;}
.row.perfNavRow ul li{margin:20px 0}
.perfNavRow ul li a{font-size:1.2em;color:#2B344C;}
.perfNavRow ul li a{font-size:1.2em;color:#2B344C;}
.perfNavRow ul li span{border-top:2px solid #3B86FF;width:20px;display:none}
.perfNavRow ul li.active a{color:#3B86FF}
.perfNavRow ul li.active span{display:block;}
.cityItemStartRow{overflow:hidden;padding:30px 80px 15px 0}
.cityItemStartRow:first-child{margin-top:20px}
.cityItemStartRow>div{float:left}
.cityItemStartRow>button{float:right}
.cityItemStartRow>div>.iconfont{color:#3B86FF}
.cityItemStartRow>div>b{font-size:1.6em;padding:0 30px 0 10px}
div.provinceCollectRow>ul>li>span{width:14.28%}
.cityTableRow{
    margin-top:30px;
    height:0;
    overflow:hidden;
    transition: height .2s linear;
    -moz-transition: height .2s linear; /* Firefox 4 */
    -webkit-transition: height .2s linear; /* Safari 和 Chrome */
    -o-transition: height .2s linear; /* Opera */
}
.cityRow>.cityItem{margin-bottom:40px;padding-bottom:30px;background:#fff;border-radius:5px}
/*绩效复查*/
.screenTop{overflow:hidden}
.screenTop>div:first-child{float:left;padding-top:20px}
.screenTop>div:last-child{float:right}
.screenTop>div:first-child .iconfont{color:#3B86FF}
.screenTop>div:first-child b{font-size: 1.6em;padding: 0 30px 0 10px;}
.screenWay{width:96%;margin:15px 2% 15px 2%;}
.screenWay span{cursor:pointer;padding:3px 5px;margin-right:30px;border:1px solid transparent;border-radius:3px}
.screenWay span[data-type='attr'],.screenWay span[data-type='area']{float:left;}
.screenWay span[data-type='straight']{float:right}
.screenWay span.active{border:1px solid #d8e6ff;background:#f2f6ff;border-radius:3px}
.screenResult .screenList{width:96%;margin-left:2%;margin-bottom:20px}
.screenResult .screenList p{
    border-bottom:1px solid #d8e6ff;
    height:40px;
    line-height:40px;
    background:#f8faff;
}
.screenResult .screenList p span{
    cursor:pointer;
    padding:0 10px;
}
.screenResult .screenList p span.active{
    color:orange;
}
.screenResultTable{
    margin-bottom:40px;
}
/*评价进度*/
.itemHeadRow{overflow:hidden;width:96%;margin-left:2%}
.itemHeadRow>div{float:left;height:80px}
.itemHeadRow>div.cityName,.itemHeadRow>div.seeDetailCtrl{width:125px;}
.itemHeadRow>div.classify{width:calc(100% - 250px);height:80px}
.itemHeadRow>div.cityName .iconfont{color:#3B86FF}
.classify ul{width:100%;overflow:hidden;}
.classify ul li{width:16.6666%;float:left;height:80px}
.classify ul li span{
    display:block;
    height:26px;
    line-height:26px;
    text-align:center;
}
.classify ul li span:first-child{
    font-size:1.2em;
    font-weight:bold;
    margin-top:14px;
}
.classify ul li span b{
    font-size:1.5em;
}
/*市级*/
.assessmentTable{background:#fff;padding-bottom:20px;margin-bottom:20px;border-radius:5px}
.assessmentTable>div:first-child{padding:15px 0}
.assessmentTable>div:first-child .iconfont{color:#3B86FF}
.cityResultRow{background:#fff}
.cityResultHead{width:96%;margin-left:2%;overflow:hidden;padding:20px 0}
.cityResultHead>div:first-child{float:left}
.cityResultHead>div:last-child{float:right}
.cityResultHead>div:first-child .iconfont{color:#3B86FF}
div.cityCollectSelfRow>ul>li>span{width:14.28%}
div.cityCollectReviewRow>ul>li>span{width:16.66%}
/*区县级*/
.row.contentHeadRow{padding:15px 0}
.row.contentRow{border-radius:5px;background:#fff;padding-bottom:20px;margin-bottom:20px}
.tableYear{padding:20px 10px}